/* This file is only utilized if minification/caching is turned off in the layout settings */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* Blog */
.post-content {
	margin: 20px 0;
}

h2 {
	margin-top: 1px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-comments {
	font-size: 1.2em;
}
html, body {
	height: 100%;
	background-color: #f2f2f2;
}
#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: #f2f2f2;
	font-size: 15px;
}

/* Blog */
.cbox_messagebox_info,
.cbox_messagebox_warning,
.cbox_messagebox_error {
	margin: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 1.5em 1em 1.5em 2.5em;
}

.cbox_messagebox_info .cbox_messagebox,
.cbox_messagebox_warning .cbox_messagebox,
.cbox_messagebox_error .cbox_messagebox {
	background: url(../img/warning-icons.png) no-repeat;
	padding: 0 1em 0 2.5em;
	min-height: 30px;
}

.cbox_messagebox_info {
	border: 1px solid #72ad55;
	background-color: #ceefbe;
}

.cbox_messagebox_info .cbox_messagebox {
	color: #488A28;
	background-position: 0 -305px;
}

.cbox_messagebox_warning {
	border: 1px solid #fece89;
	background-color: #fff3c2;
}

.cbox_messagebox_warning .cbox_messagebox {
	color: #ab5e2a;
	background-position: 0 -150px;
}

.cbox_messagebox_error {
	border: 1px solid #d47676;
	background-color: #f6d4d4;
}

.cbox_messagebox_error .cbox_messagebox {
	color: #ae3f3f;
	background-position: 0 -75px;
}

/* Paging */
.pagingTabs {
	font-size: 11px;
	margin: 10px 0 20px 0;
	border-top: 1px solid #E3E3E3;
	padding-top: 5px;
}

.pagingTabs a {
	color: #000;
	padding: 2px 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-left: 2px;
}

.pagingTabs a:hover {
		color: #000;
		background-color: #FCF9C3;
		border: 1px solid black;
	}

.pagingTabs a.selected {
	color: #000;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
}

.pagingTabs .label-info {
	background-color: #004f83;
}

.pagingTabsCarrousel {
	margin-top: 10px;
}

/* Breadcrumbs */
.breadcrumb > .divider {
	padding: 0 5px;
	color: #CCC;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#wrapper.toggled .infoHeader{
	padding-left: 75px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper {
	margin-top: 75px;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #141414;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

.hotdog{
	color:white;
	padding: 22px;
}
.toggled .hotdog-wrapper{
	margin-left: 0px;
	width: 75px;
	z-index: 99999;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hotdog-wrapper{
	margin-left: -250px;
	position:fixed;
	z-index: 9999;
	width: 250px;
	border-bottom: 1px solid rgb(39, 39, 39);
	background: #141414;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 75px;
}

#page-content-wrapper {
	width: 100%;
	padding: 0 10px 10px 10px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.dropdown-menu {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #141414;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgb(204, 204, 204);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sidebar-nav a:visited,
.sidebar-nav a:focus {
	text-decoration: none;
	background-color: rgb(54, 54, 54);
    border-left: 10px solid rgb(20, 37, 127);
    color: rgb(255, 255, 255);
}

.sidebar-nav > .sidebar-brand {
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 250px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
		padding-left: 80px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

#page-content-wrapper .toggled{
	top:75px;
}

.sidebar-nav li a {
	  width: 250px;
	  line-height: 60px;
	  border-bottom: 1px solid rgb(39, 39, 39);
	  text-align: right;
	  padding-right: 25px;
}

.infoHeader ul{
	padding-left: 0px;
}
header h1{
	color:#ffd204;
	margin-top: 70px;
	margin-bottom: 60px;
	width:250px;
}

.socialIcons a{
	padding: 10px;
	text-decoration: none;
}

.socialIcons{
	text-align: center;
	border: 1px solid rgb(232, 232, 232);
}

.socialIcons .fa{
	width: 50px;
}

.fa-twitter{
	color:#57cdf1;
}

.fa-twitter:hover{
	color: white;
	background-color: #57cdf1;
}

.fa-facebook{
	color:#44619d;
}

.fa-facebook:hover{
	color: white;
	background-color: #44619d;
}

.fa-google-plus{
	color:#d73d32;
}

.fa-google:hover{
	color: white;
	background-color: #d73d32;
}

.fa-linkedin{
	color: #0274b3;
}

.fa-linkedin:hover{
	color: white;
	background-color: #0274b3;
}

.fa-github{
	color: black;
}

.fa-github:hover{
	color: white;
	background-color: black;
}

.fa-trello{
	color: #1a5973;
}

.fa-trello:hover{
	color: white;
	background-color: #1a5973;
}

.fa-bitbucket {
	color: #1f5081;
}

.fa-bitbucket:hover{
	color: white;
	background-color: #1f5081;
}

.copyRight{
	color: rgb(153, 153, 153);
	text-align: center;
	padding-top: 25px;
}

.content-left, .content-midLeft, .content-midRight, .content-right {
	width:33.3333%;
	min-height:275px;
	padding: 15px;
	font-size: 18px;
	border-right: 1px solid rgb(232, 232, 232);
}

.site-banner {
	background-color: #141414;
    color: rgb(255, 255, 255);
    font-size: 28px;
    padding: 25px 25px 18px 25px;
    float: right;
    position: relative;
    right: 250px;
    z-index: 99999;
    border-bottom: rgb(255, 255, 255) solid 5px;
    border-right: rgb(255, 255, 255) solid 5px;
    border-left: rgb(255, 255, 255) solid 5px;
}

.motto {
	float: left;
	color: white;
	margin-left: 25px;
	margin-top: 50px
}

.content-left {
	float:left;
}

.content-midLeft {
	float:right;
	margin-top: 10px;
}

.content-midRight {
	float:left;
}

.sidebar-nav li a:hover {
  	color: rgb(255, 255, 255);
	background-color: rgb(54, 54, 54);
	border-color: rgb(54, 54, 54);
}

.sidebar-nav li a:after {
	background-color: rgb(119,119,119);
	opacity: .15;
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.footer {
	background-color: white;
	float: left;
	position: relative;
	margin-top: 50px;
}

.footer-icons {
	width: 100%;
	webkit-box-shadow: -5px -5px 5px 5px#777;
	box-shadow: 1px -2px 5px #777;
}

.footer ul{
	margin-bottom: 0;
	padding-left: 0px;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: none;
  background: none;
}

.infoHeader {
	background-color: white;
	border-bottom: 1px solid rgb(232, 232, 232);
	height: 75px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.infoHeader ul li{
	display: inline;
}

.sidenav{
	float:right;
}

.header-left{
	float:left;
}
.sidebar-nav li a {
	display: block;
	position: relative;
	z-index: 5;
	color: white;
	text-decoration: none;
	font-weight: 200!important;
	font-family: din-light,sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.sidebar-nav li:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 0;
	z-index: 1;
	background-color: rgb(42, 42, 42);
	-webkit-transition: all .3s;
	transition: all .3s;
	opacity: .5;
}

.carousel .active{
    height: 500px;
}

.carousel .item {
	height: 500px;
}

.carousel li .active {
	height: 500px;
}

.carousel {
	top: -13px;
}

.carousel-inner {
    height: 100%;
}
.carousel-control.left, .carousel-control.right {
	top:12px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fa-quote-left{
	padding-right: 10px;
}

.fa-quote-right {
	padding-left: 10px;
}

.fa-phone:hover, .fa-search:hover {
	padding: 25px;
	color: gray;
	text-decoration: none;
}

.fa-search {
	padding: 25px;
	color: gray;
	text-decoration: none;
}

.search-list {
	float:left;
	padding: 25px 0px 25px 25px;
}

.content-midRight p, .content-left p {
	padding: 12px;
    border-width: 0 0 1px;
    border-bottom: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
    border-left: 1px solid rgb(232, 232, 232);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0);
    transition: box-shadow .3s ease-out;
    position: relative;
    top: -10px;
}

.content-left li {
	margin-left: 25px;
}

.footer h2{
	font: normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 12px;
    border-width: 0 0 1px;
    border: 1px solid rgb(232, 232, 232);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0);
    transition: box-shadow .3s ease-out;
}

.mobile-title {
	display: none;
}

@media (max-width: 1400px) {
	.content-left, .content-midLeft{
		width:50%;
		padding: 15px;
		border-right: 1px solid rgb(232, 232, 232);
	}
	.content-midRight{
		width:100%;
	}
	.content-left, .content-midLeft {
		border-bottom: 1px solid rgb(232, 232, 232);
	}
}

@media (max-width: 1024px) {
	.site-banner {
	    right: 50px;
	}
}

@media (max-width: 375px) {
	.infoHeader ul li {
	    display: none;
	}

	.mobile-title {
		display: block;
	}

	.carousel {
		display: none;
	}

	.content-left, .content-midLeft{
		width:100%;
	}

	.infoHeader h1 {
		text-align: center;
		font-weight: bold;
		margin-top: 0px;
		padding-top: 15px;
		color: white;
	}

	.infoHeader {
		background-color: #141414;
	}
}

.content-wrap {
	background-color: white;
	padding: 0 12px 12px 12px;
	margin: 7.5px;
	border-width: 0 0 1px;
	border: 1px solid rgb(232, 232, 232);
	border-radius: 5px;
	box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0);
	transition: box-shadow .3s ease-out;
}

.content-blog {
	background-color: white;
	padding: 0 12px 12px 12px;
	border-width: 0 0 1px;
	margin-top: 50px;
	border: 1px solid rgb(232, 232, 232);
	border-radius: 5px;
	box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0);
	transition: box-shadow .3s ease-out;
}

.contentBar {
	padding: 25px;
}

.post {
	padding: 25px;
}



.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

.effect2 {
  position: relative;
}

.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.shortcodes {
	background-color: white;
	padding: 5px 0 5px 10px;
	margin: 25px 7.5px 25px 7.5px;
	border-radius: 5px;
	border:1px solid rgb(232, 232, 232);
}

#menu-toggle span, #menu-toggle span:before, #menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#menu-toggle span:before {
  top: -10px;
}
#menu-toggle span:after {
  bottom: -10px;
}

.site-banner a{
	text-decoration: none;
    color: white;
}

.content-header {
	background-color: #141414;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

.content-header a {
	color: white;
}

.well {
    margin-top: 44px;
    background-color: white;
    float: right;
	padding: 25px;
}

body section {
  background: white;
  margin: 60px auto 120px;
  border-top: 15px solid #141414;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
  max-width: 1100px;
}
body section h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

form {
  /*width: 58.33333%;*/
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  color: grey;
  top: 0;
  left: 0;
  background: #141414;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 10px;
    left: 2%;
  font-size: 2.1em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 18px;
  resize: none;
  height: 67px;
	right: -50px;
	position: relative;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}
form input[type="submit"] {
  background: #FD9638;
  top:25px;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
